<%= text_field 'version', 'name' %>
<button type="button" id="create_iteration">Create</button>
<button type="button" id="cancel_iteration">Cancel</button>
<br>
<%= label_tag 'error', nil, :class => "hidden error_message" %>
