tr.child { background-color: #FFFFF1; }

tr.close span.treeview a {
  display: inline-block;
  background-image: url('../images/plus.png');
  padding-left: 16px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: right top;
}

tr.open span.treeview a{ 
  display: inline-block;
  background-image: url('../images/minus.png');
  padding-left: 16px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: right top;
}

tr.child-p span.treeview a {
  display: inline-block;
  background-image: url('../images/corner.png');
  padding-left: 16px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: right top;
}

.subject a { padding-left: 5px; }
