table#issueslist {border-collapse: separate; border-spacing: 0;}
table#issueslist thead tr {height: 30px;}
table#issueslist td.subject {border-left: 40px solid transparent;}
th.tracker {width: 81px;}

/* jQuery treeTable stylesheet */

.treeTable tr td .expander, .treeTable tr td .expander-p {background-position: left center; background-repeat: no-repeat; cursor: pointer; padding: 0; zoom: 1;}
.treeTable tr td .expander-p {background-image: url('../images/corner.png');}

.treeTable tr.collapsed td .expander {background-image: url('../images/plus.png');}
.treeTable tr.expanded td .expander {background-image: url('../images/minus.png');}

.treeTable tr.selected, .treeTable tr.accept {background-color: #3875d7; color: #fff;}
.treeTable tr.collapsed.selected td .expander, .treeTable tr.collapsed.accept td .expander {background-image: url('../images/plus.png');}
.treeTable tr.expanded.selected td .expander, .treeTable tr.expanded.accept td .expander {background-image: url('../images/minus.png');}
.treeTable .ui-draggable-dragging {color: #000; z-index: 1;}

.ui-helper-hidden { display: none; }


